* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #586069;
    background: #f5f5f5;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 120px 0;
}

h1 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 40px;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.btn {
    display: inline-block;
    background: #5181b8;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 30px;
    border-radius: 30px;
    text-decoration: none;
    transition: all .3s;
}

.btn:hover {
    background: #3b5998;
}