<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title th:text="${article.title}"></title>
    <link rel="stylesheet" href="/static/css/task.css">
</head>
<body>
<div class="container" th:object="${article}">
    <h1>Article</h1>
    <div class="field">
        <label>Author:</label>
        <p th:text="${article.accountInfo}"></p>
    </div>
    <div class="field">
        <label>Publish date:</label>
        <p th:text="${article.publishDate}"></p>
    </div>
    <div class="field">
        <label>Title:</label>
        <p th:text="${article.title}"></p>
    </div>
    <div class="field">
        <label>Content:</label>
        <p th:utext="${article.content}"></p>
    </div>
    <div th:if="${hasEnoughAuthority}">
        <a th:href="@{/articles/{id}/update(id=${article.id})}">
            <button type="submit">Edit</button>
        </a>
        <a class="button" th:attr="onclick='deleteArticle(' + ${article.id} + ')'">
            <button type="submit">Delete</button>
        </a>
    </div>
    <a href="/profile">
        <button type="submit">Go to profile</button>
    </a>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/js/article.js"></script>
</body>
</html>