<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Task</title>
    <link rel="stylesheet" href="/static/css/create-task.css">
</head>
<body>
<div class="container">
    <h1>New Task</h1>
    <form method="post" enctype="application/x-www-form-urlencoded" th:object="${task}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <div th:if="${not #strings.isEmpty(validationErrors)}" class="alert alert-info">
            <p th:text="${validationErrors}"></p>
        </div>
        <div class="form-group">
            <label for="name">Title:</label>
            <input type="text" id="name" name="name" th:value="${task.name}" th:field="*{name}">
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="text" id="price" name="price" th:value="${task.price}" th:field="*{price}">
        </div>
        <label for="topic">Topic:</label>
        <select name="topic" id="topic">
            <option value="CONSTRUCTION">Construction</option>
            <option value="EDUCATION">Education</option>
            <option value="LAND_WORK">Land work</option>
            <option value="LOADING">Loading</option>
            <option value="HOUSEWORK">Housework</option>
            <option value="REPAIR">Repair</option>
        </select>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="description" th:value="${task.description}" th:field="*{description}"></textarea>
        </div>

        <button type="submit">Create Task</button>
        <br>
    </form>
    <a href="/profile"><button type="submit">Go to profile</button></a>
</div>
</body>
</html>