<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Task</title>
    <link rel="stylesheet" href="/static/css/create-task.css">
</head>
<body>
<div class="container">
    <h1>Create Task</h1>
    <form method="post" enctype="application/x-www-form-urlencoded">
        <div class="form-group">
            <label for="name">Title:</label>
            <input type="text" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="text" id="price" name="price">
        </div>
        <label for="topic">Topic:</label>
        <select name="topic" id="topic">
            <option value="CONSTRUCTION">Construction</option>
            <option value="EDUCATION">Education</option>
            <option value="LAND_WORK">Land work</option>
            <option value="LOADING">Loading</option>
            <option value="HOUSEWORK">Housework</option>
            <option value="REPAIR">Repair</option>
        </select>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="description"></textarea>
        </div>

        <button type="submit">Create Task</button>
        <br>
    </form>
    <a href="/profile"><button type="submit">На главную</button></a>
</div>
</body>
</html>