<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Something went wrong</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/not-found.css">
</head>
<body>
<div class="container">
  <h1>Something went wrong</h1>
  <p>We are working on it, try it later</p>
  <a th:href="@{/profile}" class="btn">Go to profile</a>
</div>
</body>
</html>
