<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>My articles</title>
    <link rel="stylesheet" href="/static/css/my-tasks.css">
</head>
<body>
<div class="container">
    <label>Sort by:</label>
    <select name="priority" id="priority">
        <option value="new">Newest first</option>
        <option value="old">Oldest first</option>
    </select>
</div>
<div class="container" th:each="article :${articles}">
    <h1 th:object="${article}" th:field="*{title}" th:inline="text"></h1>

    <div class="field">
        <label>Publish date:</label>
        <p th:text="${article.publishDate}"></p>
    </div>
    <div class="field">
        <label>Title:</label>
        <p th:text="${article.title}"></p>
    </div>
    <div class="field">
        <label>Content:</label>
        <p th:utext="${article.content}"></p>
    </div>
    <a th:href="@{/articles/{id}/update (id=${article.id})}" class="button">Edit</a>
    <a class="button" th:attr="onclick='deleteArticle(' + ${article.id} + ')'">Delete</a>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="/static/js/my-articles.js">
</script>
</body>
</html>