<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>My tasks</title>
    <link rel="stylesheet" href="/static/css/my-tasks.css">
</head>
<body>
<div class="container">
    <div class="sorting">
        <label>Sort by:</label>
        <select id="sortSelect" onchange="sortTasks()">
            <option value="new" th:selected="${sorted == 'new'}">Newest First</option>
            <option value="old" th:selected="${sorted == 'old'}">Oldest First</option>
        </select>

        <label>Topic:</label>
        <select id="topicSelect" onchange="sortTasks()">
            <option value="ALL" th:selected="${topic == 'ALL'}">All</option>
            <option value="CONSTRUCTION" th:selected="${topic == 'CONSTRUCTION'}">Construction</option>
            <option value="EDUCATION" th:selected="${topic == 'EDUCATION'}">Education</option>
            <option value="LAND_WORK" th:selected="${topic == 'LAND_WORK'}">Land work</option>
            <option value="LOADING" th:selected="${topic == 'LOADING'}">Loading</option>
            <option value="HOUSEWORK" th:selected="${topic == 'HOUSEWORK'}">House work</option>
            <option value="REPAIR" th:selected="${topic == 'REPAIR'}">Repair</option>
        </select>
    </div>
</div>
<div class="container" th:each="task :${tasks}">
    <h1 th:object="${task}" th:field="*{name}" th:inline="text">[[${task.name}]]</h1>

    <div class="field">
        <label>Publish date:</label>
        <p th:text="${task.publishDate}"></p>
    </div>
    <div class="field">
        <label>Topic:</label>
        <p th:text="${task.topic}"></p>
    </div>
    <div class="field">
        <label>Description:</label>
        <p th:text="${task.description}"></p>
    </div>
    <div class="field">
        <label>Price:</label>
        <p th:text="${task.price}">Р</p>
    </div>
    <div class="field">
        <label>State:</label>
        <p th:text="${task.state}"></p>
    </div>
    <a th:href="@{/tasks/{id}/update (id=${task.id})}" class="button">Edit</a>
    <a class="button" th:attr="onclick='deleteTask(' + ${task.id} + ')'">Delete</a>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="/static/js/my-tasks.js">
</script>

</body>
</html>