<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>404 Not Found - GitHub Style</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/not-found.css">
</head>
<body>
<div class="container">
  <h1>404 Not Found</h1>
  <p>Sorry, the page you are looking for could not be found.</p>
  <a th:href="@{/profile}" class="btn">Go to profile</a>
</div>
</body>
</html>
