<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<hr class="">
<div class="container target" th:object="${account}">
    <div class="row">
        <div class="col-sm-20">
            <a th:href="@{/create-task}"><button type="button" class="btn btn-primary">Create new task</button></a>
            <a th:href="@{/create-article}"><button type="button" class="btn btn-primary">Create new article</button></a>
            <a th:href="@{/my-tasks}"><button type="button" class="btn btn-primary">My tasks</button></a>
            <a th:href="@{/my-articles}"><button type="button" class="btn btn-primary">My articles</button></a>
            <a th:href="@{/tasks}"><button type="button" class="btn btn-primary">All tasks</button></a>
            <a th:href="@{/articles}"><button type="button" class="btn btn-primary">All articles</button></a>
            <a th:href="@{/tasks/today}"><button type="button" class="btn btn-primary">Today's tasks</button></a>
            <a th:href="@{/articles/today}"><button type="button" class="btn btn-primary">Today's articles</button></a>
            <a th:href="@{/search}"><button type="button" class="btn btn-primary">Search for users</button></a>
            <a th:href="@{/logout}"><button type="button" class="btn btn-primary">Logout</button></a>
            <br>
        </div>
<!--        <div class="col-sm-2"><a href="/users" class="pull-right">-->
<!--            <img title="profile image"-->
<!--                 class="img-circle img-responsive"-->
<!--                 src="http://www.rlsandbox.com/img/profile.jpg"></a>-->
<!--        </div>-->
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-muted" contenteditable="false">Profile</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong
                        class="">Name</strong></span>
                    <p th:text="*{name}"></p>
                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Surname</strong></span>
                    <p th:text="*{surname}"></p>
                </li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-heading">Контакты <i class="fa fa-link fa-1x"></i></div>
                <div class="panel-body">
                    <a th:href="@{'mailto://'+*{email}}" th:field="*{email}" th:text="*{email}"></a>
                </div>
                <div class="panel-body">
                    <p th:text="*{phoneNumber}"></p>
                </div>
            </div>

            <ul class="list-group">
                <li class="list-group-item text-muted">Активность <i class="fa fa-dashboard fa-1x"></i>
                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong
                        class="">Tasks count</strong></span>
                    <p th:text="${tasks.size()}">
                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong
                        class="">News count</strong></span>
                    <p th:text="${articles.size()}">
                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong
                        class="">Products count</strong></span>
                    <p th:text="${products.size()}">
                </li>
            </ul>
        </div>
        <!--/col-3-->
        <div class="col-sm-9" style="" contenteditable="false">
            <div class="panel panel-default target">
                <div class="panel-heading" contenteditable="false">News</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4" th:each="article : ${articles}">
                            <div class="thumbnail" th:object="${article}">
                                <!--                                <img alt="300x200"-->
                                <!--                                     src="https://click2delivery.ru/wp-content/uploads/2021/04/svg-editor-image-1-e1617788478264.png">-->
                                <div class="caption">
                                    <a th:href="@{/articles/{id}(id=${article.id})}"><h3 th:text="*{title}">
                                    </h3></a>
                                    <!--                                        <p th:field="*{description}" th:text="*{description}">-->
                                    <!--                                        </p>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default target">
                <div class="panel-heading" contenteditable="false">Tasks</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4" th:each="task : ${tasks}">
                            <div class="thumbnail" th:object="${task}">
                                <!--                                <img alt="300x200"-->
                                <!--                                     src="https://click2delivery.ru/wp-content/uploads/2021/04/svg-editor-image-1-e1617788478264.png">-->
                                <div class="caption">
                                    <a th:href="@{/tasks/{id}(id=${task.id})}"><h3 th:field="*{name}" th:text="*{name}">
                                    </h3></a>
                                    <p th:field="*{description}" th:text="*{description}">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default target">
                <div class="panel-heading" contenteditable="false">Products</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4" th:each="product : ${products}">
                            <div class="thumbnail" th:object="${product}">
                                <!--                                <img alt="300x200"-->
                                <!--                                     src="https://click2delivery.ru/wp-content/uploads/2021/04/svg-editor-image-1-e1617788478264.png">-->
                                <div class="caption">
                                    <a th:href="@{/products/{id}(id=${product.id})}"><h3 th:field="*{name}" th:text="*{name}">
                                    </h3></a>
                                    <p th:field="*{description}" th:text="*{description}">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>