<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Регистрация</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/registration.css">
</head>
<body>
<h2>Registration</h2>
<form name="registration-form" th:action="@{/registration}" method="post" th:object="${account}">
<!--    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>-->
    <div th:if="${not #strings.isEmpty(errorMessage)}" class="alert alert-info">
        <p th:text="${errorMessage}"></p>
    </div>
    <div th:if="${not #strings.isEmpty(validationErrors)}" class="alert alert-info">
        <p th:text="${validationErrors}"></p>
    </div>
    <div>
        <input type="email" id="email" name="email" placeholder="Email" th:field="*{email}" required>
    </div>
    <div>
        <input type="text" id="name" name="name" placeholder="Имя" th:field="*{name}" required>
    </div>
    <div>
        <input type="text" id="surname" name="surname" placeholder="Фамилия" th:field="*{surname}" required>
    </div>
    <div>
        <input type="password" id="password" name="password" placeholder="Пароль" th:field="*{password}" required>
    </div>
    <div>
        <input type="tel" id="phoneNumber" name="phoneNumber" placeholder="Телефон" th:field="*{phoneNumber}" required>
    </div>
    <button type="submit">Зарегистрироваться</button>
</form>
</body>
<a href="/welcome"><button type="submit">На главную</button></a>

</html>