<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Article</title>
    <link rel="stylesheet" href="/static/css/create-task.css">
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#content'
        });
    </script>
</head>
<body>
<div class="container" th:object="${article}">
    <h1>Update Article</h1>
    <form method="post" enctype="application/x-www-form-urlencoded">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" id="title" th:value="${article.title}" name="title">
        </div>
        <div class="form-group">
            <label for="content">Content:</label>
            <textarea id="content" th:utext="${article.content}" name="content"></textarea>
        </div>

        <button type="submit">Save</button>
        <br>
    </form>
    <a th:href="@{'/articles/'+${article.id}}"><button type="submit">Go back</button></a>
</div>
</body>
</html>